absl-py==0.11.0
aiohttp==3.7.4.post0
argon2-cffi==20.1.0
asn1crypto==1.3.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
backcall==0.2.0
bleach==3.2.1
boto3==1.7.29
botocore==1.10.84
cachetools==4.2.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==8.0.1
conda==4.5.1
confuse==1.4.0
cryptography==2.8
cycler==0.10.0
dataclasses==0.6
datasets==1.11.0
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.4
docutils==0.16
entrypoints==0.3
enum34==1.1.10
filelock==3.0.12
fsspec==2021.6.1
future==0.18.2
gast==0.3.3
gensim==3.8.3
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.34.0
h5py==2.10.0
htmlmin==0.1.12
huggingface-hub==0.0.12
idna==2.8
idna-ssl==1.1.0
ImageHash==4.2.0
importlib-metadata==3.3.0
ipykernel==5.4.2
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.0.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
llvmlite==0.35.0
lxml==4.6.2
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.3
missingno==0.4.2
mistune==0.8.4
mock==4.0.2
more-itertools==8.6.0
moxing-framework==1.17.3
multidict==5.1.0
multiprocess==0.70.12.2
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
netifaces==0.10.7
networkx==2.5
nltk==3.4.5
notebook==6.1.5
numba==0.52.0
numpy==1.18.5
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==21.0
pandas==1.1.5
pandas-profiling==2.9.0
pandocfilters==1.4.3
parso==0.7.1
pathlib2==2.3.5
pexpect==4.8.0
phik==0.10.0
pickleshare==0.7.5
Pillow==8.0.1
pluggy==0.13.1
prometheus-client==0.9.0
prompt-toolkit==3.0.8
protobuf==3.14.0
psutil==5.8.0
ptyprocess==0.6.0
py==1.10.0
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.19
pyDeprecate==0.3.0
Pygments==2.7.3
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks==1.7.1
pytest==5.4.3
python-dateutil==2.8.1
pytorch-lightning==1.3.3
pytorchcv==0.0.65
pytz==2020.4
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==17.0.0
regex==2021.8.3
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
ruamel-yaml==0.15.35
s3transfer==0.1.13
sacremoses==0.0.45
scikit-learn==0.23.2
scipy==1.4.1
seaborn==0.11.1
Send2Trash==1.5.0
six==1.14.0
smart-open==4.0.1
tangled-up-in-unicode==0.0.6
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
threadpoolctl==2.1.0
tokenizers==0.10.3
torch @ file:///home/work/sdk/torch-1.6.0%2Bcu101-cp36-cp36m-linux_x86_64.whl
torchmetrics==0.3.2
torchvision @ file:///home/work/sdk/torchvision-0.7.0%2Bcu101-cp36-cp36m-linux_x86_64.whl
tornado==6.1
tqdm==4.47.0
traitlets==4.3.3
transformers==4.9.2
typing-extensions==3.7.4.3
urllib3==1.25.8
visions==0.5.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xxhash==2.0.2
yarl==1.6.3
zipp==3.4.0